
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #212529; /* Example using a hexadecimal color code */
    color: #dee2e6;
}

.wrapper {
    display: grid;
    grid-template-columns: 2% 1fr 2%;
}

.top {
    grid-column-start: 2;
    grid-column: span 2;
    display: grid;
    grid-template-rows: auto;
}

.dyemap {
    border-spacing: 10px; border-collapse: separate;
    color: #d9d7d7;
    text-shadow: -1px -1px 0 #3c4248, 1px -1px 0 #3c4248, -1px 1px 0 #3c4248, 1px 1px 0 #3c4248;
}

td.swatch {
    width: 20%;
    height: 55px;
    text-align: center;
    font-weight: bold;
}

.palette {

    display: grid;
    grid-template-columns: 1fr;
}

#example_room{
    display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  /*max-width: 700px;*/
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* tablet & desktop */

@media (min-width: 767px) {

    .wrapper {
        display: grid;
        grid-template-columns: 20px 1fr 20px;
    }

    .top {
        grid-column-start: 2;
        display: grid;
        grid-template-rows: auto;
    }

    .palette {
        width: 475px;
    }

    #example_room {
        display: block;
        position: fixed;
        left: 495px;
    }


}